/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --snow: #fffafa;
  --indigo: #4b0082;
  --lavender: #e6e6fa;
  --dark-slate-blue: #483d8b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: var(--snow);
}

header {
  text-align: justify;
  color: var(--lavender);
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
  color: var(--lavender);
}

h2 {
  font-size: 3rem;
  color: var(--indigo);
  margin-bottom: 20px;
  text-align: left;
}

h3 {
  font-size: 2rem;
  color: var(--lavender);
  margin-bottom: 10px;
  text-align: center;
  margin-right: 20px;
}

h4 {
  font-size: 1rem;
  color: var(--lavender);
  margin-bottom: 1px;
  text-align: center;
  margin-right: 20px;
}

p {
  font-size: 18px;
  color: var(--indigo);
}

/* code {
  /* Monospace font stack is used for our code blocks to make it look more like code */
  /* font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}
  */

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

aside {
  flex: 30%;
  background-color: var(--snow);
  padding: 20px;
  flex-wrap: wrap;
}

section {
  flex: 3;
  background-color: var(--snow);
  padding: 20px;
}

section header {
  padding: 10px;
  background: var(--dark-slate-blue);
  color: var(--lavender);
  text-align: center;
  width: fit-content;
  display: inline-block;
}

section header p {
  padding: 5px;
  background: var(--dark-slate-blue);
  color: var(--lavender);
  text-align: center;
  width: fit-content;
  display: inline-block;
}

figure {
  width: 400px;
  height: 400px;
}

footer {
  padding: 20px;
  text-align: justify;
  background: var(--snow);
  color: var(--indigo);
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.header {
  height: 125px;
  width: 100%;
  padding: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--dark-slate-blue);
  color: var(--lavender);
}

.header h1 {
  display: inline-flex;
  text-align: left;
  font-size: 48px;
}

/* .profile-pic {
margin: auto;
height: 100px;
width: 100px;
margin-bottom: 15px;
background-image: "assets/images/Profile Pic.png";
} */

.header nav {
  background-color: var(--dark-slate-blue);
  color: var(--lavender);
  float: right;
  font-size: 20px;
  display: flex;
}

.header nav ul li a {
  color: var(--lavender);
}

.header nav ul li {
  display: flex;
  padding: 10px;
  float: right;
  margin: 0px;
}

.subtitle-img {
  height: 200px;
  width: 100%;
  background-image: url("http://1-background.com/images/water-1/water-abstract-water-turquoise-repeating-image.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin-top: 0%;
}

/* .subtitle-img div p {
  text-align: right;
} */

/* .content-about-me {
  width: 95%;
  display: inline-flex;
  margin-left: 20px;
} */

.P-headers {
  float: left;
  font-size: 36px;
  width: 40%;
  text-align: left;
  margin-left: 50px;
}

.float-left {
  float: left;
  margin-left: 25px;
}

.content-text {
  margin-bottom: 20px;
  padding: 10px;
  height: 100px;
  display: inline-block;
}

.work-images {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.work-images header {
  padding: 10px;
  background: var(--dark-slate-blue);
  color: var(--lavender);
  text-align: center;
  width: fit-content;
  display: inline-block;
}

/* .work-images header p {
  padding: 10px;
  background: var(--dark-slate-blue);
  color: var(--lavender);
  text-align: center;
  width: fit-content;
  display: inline-block;
} */

.work-images img {
  width: 50%;
  height: 50%;
}

/* .work-content {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  align-items: center;
  width: 20%;
  height: 100%;
}

.work-images {
  height: 400px;
  width: 400px;
  padding-top: 20px;
  margin-top: 0%;
  align-items: center;
} */

/* .work-content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
} */



.footer {
  height: 125px;
  width: 100%;
  padding: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--snow);
  color: var(--indigo);
}

.footer h2 {
  display: inline-flex;
  text-align: left;
  font-size: 48px;
  text-decoration: none;
}

.footer div {
  background-color: var(--snow);
  color: var(--indigo);
  float: right;
  font-size: 20px;
  display: flex;
}

.footer div ul li a {
  color: var(--indigo);
}

.footer div ul li {
  display: inline-block;
  padding: 10px;
  float: right;
  margin: 0px;
}
