/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --snow: #fffafa;
  --indigo: #4b0082;
  --lavender: #e6e6fa;
  --dark-slate-blue: #483d8b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--snow);
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
  color: var(--lavender);
}

h2 {
  font-size: 3rem;
  color: var(--indigo);
  margin-bottom: 20px;
  text-align: left;
}

h3 {
  font-size: 2rem;
  color: var(--lavender);
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: var(--lavender);
}

p {
  font-size: 18px;
  color: var(--indigo);
}

/* code {
  /* Monospace font stack is used for our code blocks to make it look more like code */
  /* font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}
  */

main {
  width: 100%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align:start;
  display: inline-flex;
}

figure {
  width: 200px;
  height: 200px;
}

.header {
  height: 200px;
  width: 100%;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--dark-slate-blue);
  color: var(--lavender);
}

.header h1 {
  display: inline-flex;
  text-align: left;
  font-size: 48px;
}

.profile-pic {
margin: auto;
height: 100px;
width: 100px;
margin-bottom: 15px;
background-image: "assets/images/Profile Pic.png";
}

.header nav {
  background-color: var(--dark-slate-blue);
  color: var(--lavender);
  float: right;
  font-size: 20px;
  display: inline-flex;
}

.header nav ul li {
  display: inline-flex;
  padding: 10px;
  float: right;
  margin: 0px;
}

/* #nav ul {
  display: flex;
}

#nav a {
  color: var(--lavender) */
  /* padding:  */
  /* margin: */

/* } */

.subtitle-img {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  background-image: url("http://1-background.com/images/water-1/water-abstract-water-turquoise-repeating-image.jpg");
  background-size: contain;
  background-position: center;
}

#contact-footer ul {
  display: flex;
}

#contact-footer a {
  background-color: (--dark-slate-blue);
  color: (var(--lavender));
  display: inline-flex;
}

.headers {
  display: inline-block;
  display: inline-flex;
  float: left;

}

.paragraph {
  display: inline-flexbox;
  float: right;

}

.section-2 {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.section-2-div {
  display: flex;
}

.box-headers {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

#subtext {
  font-size: 0.8rem;
  
}
