body {
	background-color: aliceblue;
}

* {
	font-family: "PT Serif", serif;
}
h1 {
	font-weight: bold;
}

h2 {
	font-size: x-large;
	text-align:justify;
}

h4 {
	text-align: center;
}

/* p {
	text-align: end;
} */

ul {
	list-style-type: none;
}
footer {
	text-align: center;
	margin-top: 80px;
}
#profilepic {
	width: 300px;
	height: 350px;
	border-radius: 50%;
	float: right;
}
.aboutMe {
	margin-top: 80px;
}

.aboutMe h2 {
	font-weight: bold;
}

.mt-4 h2 {
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
}

.projectList {
	margin-top: 180px;
	text-align: center;
	display: inline-flexbox;
}

.projectList h2 {
	font-weight: bolder;
	font-size: xx-large;
	margin-top: 40px;
	margin-bottom: 30px;
	color: black;
	text-align: center;
}

.card {
	margin: 5px;
	display: flex;
	align-items:flex-start;
	flex-wrap: wrap;
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	padding: 8px;
}
.contactInformation {
	font-size: large;
	margin-top: 80px;
	color: black;
	text-align: center;
}

.contactInformation h2 {
	font-weight: bolder;
	font-size: xx-large;
	margin-top: 40px;
	color: black;
	text-align: center;
}

.navigation li {
	font-size: x-large;
	display: inline-block;
	margin-left: 25px;
	list-style-type: none;
	color: black;
}

.contactLinks {
	margin-left: -60px;
}
.contactLinks li {
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

.navigation a,
.contactLinks a,
small a {
	color: black;
}
.navigation li :visited {
	color: black;
}
.navigation li :hover {
	color: white;
}

a:visited,
.contactLinks li :visited,
small :visited {
	color: black;
}
a:hover,
.contactLinks li :hover,
small :hover,
#email :hover {
	color: #c7eef5;
}
#email {
	color: black;
}

#email :visited {
	color: black;
}

a {
	color: inherit;
}
@media (max-width: 768px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 18pt;
		text-align: center;
	}

	.hero {
		padding: 50px 20px;
	}

	.nav {
		font-size: 9pt;
	}
	#profilepic {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
	.projectList {
		margin-top: 140px;
	}
	.card {
		text-align: center;
		padding: 50px;
		margin: 50px;
	}

	.card a {
		font-size: 10pt;
	}

	.contactInformation {
		margin-top: 150px;
	}

	.education {
		font-size: 8pt;
	}

	@media (min-width: 500px) {
		.btn-primary {
			display: inline-block;
		}
	}
}